body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.bg-dark {
  background-color: rgb(33, 37, 41) !important;
}
.navbar-expand-lg .navbar-collapse {
  flex-direction: row-reverse;
  margin: 0 100px;
}
.navbar-light .navbar-brand {
  margin-left: 100px;
}
.feature {
  margin-top: -25px;
  margin-bottom: 50px !important;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 4rem;
  width: 4rem;
  font-size: 2rem;
  border-radius: 10px;
}
.card-body {
  padding: 0 !important;
}
.mb-0,
.my-0 {
  padding-bottom: 20px;
}
/* .text-white {
  font-size: 20px;
} */
